.wholepage{
    width:100%;
    height:100vh;
    .navbar{
        background-color: #FA6400;
        img{
            width: 100px;    
        }
        
    }
    .btn{
        background-color: #FA6400;
        border-radius: 5px;
    }
   



}
 